        h1 {
            color: rgb(13, 228, 228);
            font-size: 50px;
            display: flex;
            justify-content: center;
            margin: 3%;
        }
        
        pre {
            white-space: pre-line;
            color: rgb(13, 228, 228);
            display: flex;
            justify-content: center;
            font-size: 35px;
            font-weight: 800;
            margin-left: 2%;
            background-color: transparent !important;
        }
        
        .title {
            color: rgb(13, 228, 228);
            font-size: 30px;
            margin-left: 3%;
        }
        
        html {
            background: url("/assets/darkstarbackground1080.jpg") no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
        
        p {
            display: flex;
            justify-content: center;
            font-size: 50px;
            color: rgb(13, 228, 228);
        }