h1 {
    color: rgb(41, 105, 255);
    font-size: 30px;
    margin-left: 3%;
}

p {
    color: rgb(41, 105, 255);
    font-size: 22px;
    margin-left: 3%;
}

.title {
    color: rgb(41, 105, 255);
    font-size: 15px;
    margin-left: 3%;
}

.body {
    background-image: url('darkstarbackground1080p.JPG');
}