body {
    font-family: Arial;
    background-color: darkgray;
}

h1 {
    color: rgb(251, 255, 41);
    font-size: 30px;
    margin-left: 3%;
    background-color: #3f454b;
}

p {
    color: rgb(195, 168, 14);
    font-size: 22px;
    background-color: #3f454b;
    margin-left: 3%;
}

.title {
    color: rgb(251, 255, 41);
    font-size: 15px;
    margin-left: 3%;
}

table,
th,
td {
    border: 2px solid white;
    text-align: center;
}

img {
    size: 20%;
    float: left;
    margin-right: 3%;
    margin-left: 3%;
}

ul {
    margin-left: 70px;
    font-size: x-large;
    float: unset;
    max-width: 150px;
}

.outer {
    height: 300px;
    width: 300px;
    border: 1px solid #000;
}

.inner {
    height: 100px;
    width: 100px;
    margin: 100px;
    background: red;
}

img {
    height: auto;
    width: 100px;
    display: none;
}

.inner:hover img {
    display: block;
    size: 20%;
}