body {
    background-color: darkgray;
}

h1 {
    color: black;
    text-align: center;
}

p {
    font-size: 10px;
    color: black;
    flex-direction: column;
}

.sestina div {
    border: 10px ridge #f00;
    background-color: #ff0;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    word-wrap: break-word;
}

.sestina {
    border: 10px ridge rgb(0, 81, 128);
    background-color: bisque;
    color: black;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 0.2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.sestina p {
    font-size: large;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
}

.sestina pre {
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: o-pre-wrap;
    white-space: pre-wrap;
    word-wrap: break-word;
}

div {
    width: 100%;
    margin: auto;
    border: 10px rgb(222, 181, 135);
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    width: 90px;
}

.styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(0, 100, 250, 1);
    background-image: linear-gradient( to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rbga(0, 0, 0, 0.6);
}

.styled:hover {
    background-color: rbga(255, 0, 0, 1);
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, -6), inset 2px 2px 3px rbg(0, 0, 0, 0.6);
}